<ion-header>
  <!-- <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <div class="loginContainer">
    <div class="logoBox">
      <h1>
        Logo
      </h1>
    </div>
    <div class="subHeading">
      <p>
        login to your Account
      </p>
    </div>
    <div class="inputBox">
      <ion-input placeholder='E-mail' type='email'></ion-input>
      <ion-input placeholder='password' type='password'></ion-input>
      <ion-button (click)="toSignUp()">
        Sign In
      </ion-button>
    </div>

  </div>
</ion-content>
