<ion-content>
  <div class="loginContainer">
    <div class="logoBox">
      <h1>
        SignUp
      </h1>
    </div>
    <div class="subHeading">
      <p>
        Create Your Account
      </p>
    </div>
    <div class="inputBox">
      <ion-input placeholder='E-mail' type='email'></ion-input>
      <ion-input placeholder='password' type='password'></ion-input>
      <ion-input placeholder='Confirm password' type='password'></ion-input>

      <ion-button (click)="toUserList()">
        Sign Up
      </ion-button>
    </div>

  </div>
</ion-content>
