<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Chat Room</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chatRoom">
    <div class="reciveMsg">
      <ion-label slot="start">
        Hi!
      </ion-label>
    </div>
    <div class="reciveMsg">
      <ion-label slot="end">
        Hey
      </ion-label>
    </div>
    <div class="chatInputBox">
      <ion-input placeholder='type...' type='text'></ion-input>
    </div>
  </div>
</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="start">
      <img src="https://image.flaticon.com/icons/png/512/147/147144.png">
    </ion-avatar>
    <ion-title>
      Chat Room
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let msg of messages">
      <!-- <ion-col offset="3" size="9" *ngIf="currentUser === msg.user" class="message my-message"> -->
      <ion-col offset="3" size="9" class="message my-message">

        <b>Test</b>

        <!-- <b> {{msg.user}} </b>  -->
        <br>
        <span> Test </span>
        <!-- <span> {{msg.msg}} </span> -->

        <div class="time ion-text-right">
          <!-- <br> {{msg.createdAt | date:'short'}} -->
          <br> Test
        </div>
      </ion-col>

      <!-- <ion-col size="9" *ngIf="currentUser !== msg.user" class="message other-message"> -->
      <ion-col size="9" class="message other-message">

        <!-- <b> {{msg.user}} </b> -->
        <b>Test</b>
        <br>
        <span> Test </span>
        <!-- <span> {{msg.msg}} </span> -->

        <div class="time ion-text-right">
          <br>
          Test
          <!-- {{msg.createdAt | date:'short'}} -->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-item>
      <ion-input placeholder="Enter your message"></ion-input>
      <ion-icon name="send" slot="end"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-footer>
