<ion-content>
  <div class="UserContainer">
    <div class="UserlistHeaing">
      <h3>
        User List
      </h3>
    </div>
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/icon/favicon.png" />
        </ion-avatar>
        <ion-label>
          Wahaj Ahmed
        </ion-label>
        <ion-label slot="end">
          <ion-button (click)="toChatRoom()">
            Chat
          </ion-button>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/icon/favicon.png" />
        </ion-avatar>
        <ion-label>
          Jhonny U know
        </ion-label>
        <ion-label slot="end">
          <ion-button (click)="toChatRoom()">
            Chat
          </ion-button>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/icon/favicon.png" />
        </ion-avatar>
        <ion-label>
          Jhonny U know
        </ion-label>
        <ion-label slot="end">
          <ion-button (click)="toChatRoom()">
            Chat
          </ion-button>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/icon/favicon.png" />
        </ion-avatar>
        <ion-label>
          Jhonny U know
        </ion-label>
        <ion-label slot="end">
          <ion-button (click)="toChatRoom()">
            Chat
          </ion-button>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/icon/favicon.png" />
        </ion-avatar>
        <ion-label>
          Jhonny U know
        </ion-label>
        <ion-label slot="end">
          <ion-button (click)="toChatRoom()">
            Chat
          </ion-button>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/icon/favicon.png" />
        </ion-avatar>
        <ion-label>
          Jhonny U know
        </ion-label>
        <ion-label slot="end">
          <ion-button (click)="toChatRoom()">
            Chat
          </ion-button>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/icon/favicon.png" />
        </ion-avatar>
        <ion-label>
          Jhonny U know
        </ion-label>
        <ion-label slot="end">
          <ion-button (click)="toChatRoom()">
            Chat
          </ion-button>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/icon/favicon.png" />
        </ion-avatar>
        <ion-label>
          Jhonny U know
        </ion-label>
        <ion-label slot="end">
          <ion-button (click)="toChatRoom()">
            Chat
          </ion-button>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/icon/favicon.png" />
        </ion-avatar>
        <ion-label>
          Jhonny U know
        </ion-label>
        <ion-label slot="end">
          <ion-button (click)="toChatRoom()">
            Chat
          </ion-button>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/icon/favicon.png" />
        </ion-avatar>
        <ion-label>
          Jhonny U know
        </ion-label>
        <ion-label slot="end">
          <ion-button (click)="toChatRoom()">
            Chat
          </ion-button>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/icon/favicon.png" />
        </ion-avatar>
        <ion-label>
          Jhonny U know
        </ion-label>
        <ion-label slot="end">
          <ion-button (click)="toChatRoom()">
            Chat
          </ion-button>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/icon/favicon.png" />
        </ion-avatar>
        <ion-label>
          Jhonny U know
        </ion-label>
        <ion-label slot="end">
          <ion-button (click)="toChatRoom()">
            Chat
          </ion-button>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/icon/favicon.png" />
        </ion-avatar>
        <ion-label>
          Jhonny U know
        </ion-label>
        <ion-label slot="end">
          <ion-button (click)="toChatRoom()">
            Chat
          </ion-button>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/icon/favicon.png" />
        </ion-avatar>
        <ion-label>
          Jhonny U know
        </ion-label>
        <ion-label slot="end">
          <ion-button (click)="toChatRoom()">
            Chat
          </ion-button>
        </ion-label>
      </ion-item>

    </ion-list>
  </div>
</ion-content>
